[Unit]
Description=IBus Daemon for generic sessions
CollectMode=inactive-or-failed

# Never run in GNOME
Conflicts=gnome-session-initialized.target

PartOf=graphical-session.target
After=graphical-session.target

[Service]
# Type=dbus
# BusName=org.freedesktop.IBus
ExecStart=sh -c 'exec /usr/bin/ibus --replace --type wayland'
Restart=on-failure
TimeoutStopSec=5
# Slice=session.slice
