layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
    // opacity 0.97
}

// set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
// layer-rule {
//     match namespace="^noctalia-wallpaper*"
//     place-within-backdrop true
// }

// work around wezterm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    // default-column-width {}
    default-column-width { proportion 0.50; }
    default-window-height { proportion 1.0; }
}
// open the firefox picture-in-picture player as floating by default.
window-rule {
    // this app-id regular expression will work for both:
    // - host firefox (app-id is "firefox")
    // - flatpak firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$|zen$"# title="^picture-in-picture$"
    open-floating true
    default-floating-position x=50 y=50 relative-to="bottom-right"
}
window-rule {
    // chrome
    match title="^picture in picture$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="bottom-right"
    default-window-height { proportion 0.30; }
    // 80% of the screen wide.
    default-column-width { proportion 0.30; }
}
window-rule {
    // chrome
    match title="^Picture in picture$"
    open-floating true
    default-floating-position x=20 y=20 relative-to="bottom-right"
    default-window-height { proportion 0.30; }
    // 80% of the screen wide.
    default-column-width { proportion 0.30; }
}
window-rule {
    // nautilus save dialog?
    match app-id=r#"^org\.gnome\.nautilus$"# title="^all files$"
    open-floating true
    default-window-height { proportion 0.50; }
    default-column-width { proportion 0.60; }
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
// window-rule{
//     match app-id="helium"
//     // is-active=false
// }
// example: block out two password managers from screen capture.
// (this example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.keepassxc$"#
    match app-id=r#"^org\.gnome\.world\.secrets$"#
    match app-id=r#"^1password$"#
    block-out-from "screen-capture"
}
