$if term=rxvt-unicode-256color

"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOH": beginning-of-line
"\eOF": end-of-line
"\e[H": beginning-of-line
"\e[F": end-of-line

$endif

# mappings for "page up" and "page down" to step to the beginning/end
# of the history
#"\e[5~": history-search-backward
#"\e[6~": history-search-forward
"\e[A": history-search-backward
"\e[B": history-search-forward

# Use Ctrl+← and Ctrl+→ (or Alt/Meta, or Esc) to move between words.
# gnome / others (escape + arrow key)
"\e[5C": forward-word
"\e[5D": backward-word
# konsole / xterm / rxvt (escape + arrow key)
"\e\e[C": forward-word
"\e\e[D": backward-word
# gnome / konsole / others (control + arrow key)
"\e[1;5C": forward-word
"\e[1;5D": backward-word

"\e[1;3C": forward-word
"\e[1;3D": backward-word

# aterm / eterm (control + arrow key)
"\eOc": forward-word
"\eOd": backward-word

# alt-delete: delete a foward-word
"\e[3;3~": kill-word


# Show extra file information when completing, like ls -F does.
set visible-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on
