/* colors defined at top for easy configuring */
@define-color background #2C2A24;
@define-color second-background #3A372F;
@define-color second-background9 rgba(58, 55, 47, 0.9);
@define-color text #DDD5C4;
@define-color borders #A0907A;
@define-color focused #D08B57;
@define-color focused2 #BFAA80;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color urgent #B05A5A;


/* font declared */
* {
  font-family: 'Iosevka Nerd Font', sans-serif;
  /* font-family: 'FantasqueSansM Nerd Font Mono', sans-serif; */
  font-size: 12px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

/* idk what all this does */
window#waybar {
  background-color: @second-background9;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}


/* configuring the modules */
.modules-left {
  /* margin: 0 0 5px; */
  margin: 0;
  padding: 0 0 0 10px;
  background-color: @background;
  /* border: 2px solid @focused; */
  border: none;
  border-top-left-radius: 15px;
}

.modules-center {
  /* margin: 0 0 5px; */
  margin: 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  /* border: 2px solid @focused; */
  border: none;
}

.modules-right {
  /* margin: 0 0 5px; */
  margin: 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  /* border: 2px solid @focused; */
  border: none;
  border-top-right-radius: 15px;
}


/* whats this?? */
button {
  border: none;
}


/* left island */

/* menu pannel */
#custom-debian,
#custom-powerprofile,
#custom-wallpaper {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}

#custom-debian:hover {
  color: @color1;
}

#custom-powerprofile:hover {
  color: @color1
}

#custom-wallpaper:hover {
  color: @color1;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @second-background;
}

#workspaces button.active {
  color: @focused2;
  background-color: @second-background;
}

#workspaces button.urgent {
  background-color: @urgent;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* media player */
#mpris {
  margin: 0 0 0 5px;
  padding: 0 9px;
  background-color: @background;
  color: @text;
}

#mpris.playing {
  background-color: @color3;
  border-radius: 2px;
  color: @background;
}


/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#language,
#tray,
#network {
  padding: 0 10px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#language:hover,
#wireplumber:hover {
  color: @color1;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-powerprofile {
  padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
  padding: 0 5px;
}

#wireplumber.muted {
  /* background-color: @color2; */
}

#custom-swaync {
  padding: 0 10px 0 5px;
  font-size: 16px;
  /* same scale as other icons */
  color: @text;
}

#battery.charging,
#battery.plugged {
  background-color: @focused2 ;
  /* margin: 7px; */
  padding: 0 5px;
  color: @background;
}

#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  /* margin: 7px; */
  padding: 0 5px;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}

/* --- Tooltip Styles --- */
tooltip {
  background-color: @second-background9;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
  font-size: 12px;
}
